@import 'tailwindcss';

@font-face {
  font-family: 'miera-regular';
  src: url('/fonts/MierA-Regular.woff2');
}

@font-face {
  font-family: 'miera-book';
  src: url('/fonts/MierA-Book.woff2');
}
@font-face {
  font-family: 'miera-demibold';
  src: url('/fonts/MierA-DemiBold.woff2');
}
@font-face {
  font-family: 'miera-bold';
  src: url('/fonts/MierA-Bold.woff2');
}
@font-face {
  font-family: 'miera-black';
  src: url('/fonts/MierA-Black.woff2');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

@theme {
  --font-miera-regular: 'miera-regular', 'sans-serif';
  --font-miera-demibold: 'miera-demibold', 'sans-serif';
  --font-miera-bold: 'miera-bold', 'sans-serif';
  --font-miera-black: 'miera-black', 'sans-serif';
  --font-miera-book: 'miera-book', 'sans-serif';
  --drop-shadow-button: rgba(0, 0, 0, 0.2) 0px 5px 9px;
  --color-backdrop-accent: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0) 100%
  );
  --color-primary: #d61355;

  --animate-float: float 6s infinite ease-in-out;
  @keyframes float {
    0% {
      transform: translate(0);
    }
    60% {
      transform: translateY(15px);
    }
    100% {
      transform: translate(0px);
    }
  }
  --animate-blink: blink 1s steps(2, jump-none) infinite;
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  --animate-spin: spin 10s linear infinite;
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
